body{
    background-color: rgb(236, 247, 247) !important;
}

.navbar{
    background-color: rgb(213, 236, 236);
    /* margin:10px 15px !important; */
    padding: 10px 40px !important;
    text-shadow: 5px 4px 3px  red;
    margin-bottom: 20px !important;
    font-size: 50px !important;
    position: sticky !important;
   
}
.btn-danger {
    padding: 5px!important;
}

.search-box{
    border:none;
    border-bottom: 1.5px solid black;
    background: transparent;
    outline:none;
    height: 30px;
    color:black;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
    margin-right: 20px;
    position: relative;
    z-index: 99;
}

.search-box:focus{
    width: 300px;
    border-color:black;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }


ul li a{
    line-height: 65px;
    font-size: 17px;
    cursor: pointer;
    /* background-color: orange; */
    text-decoration: none;
    color:black;
    transition:0.9s;
    padding:4px 15px !important;
    border-radius: 20px;
}

ul li:hover a{
   background-color: rgb(239, 69, 69);
    text-decoration: none;
    color:white;
}

ul li.active a{
     background-color: rgb(239, 69, 69);
     text-decoration: none;
     color:white;
}

.main-content{
    font-weight:bold;
    font-size: 35px;
    text-shadow: 2px 3px 3px blue;
}

.sub-content{
    margin: 40px 25px 0px 0px !important;
    font-size: 17px;
    font-weight: 400;
    color: rgb(80, 72, 72);
    /* border: 1px solid black; */

}

.food-cards{
    margin-top: 25px !important;
}

.food__img{
    border-radius: 20px;
}


@media(max-width:768px){

    html,body{
        overflow-x: hidden;
    }

    .btn{
        margin-top: 10px !important;
        display:block;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;

    }
    .navbar .logo{
        display:block;
        width: 95%;
        font-size: 35px;
        margin-bottom: 5px !important;
    }
    .btn-wrap{
        width: 100%;
        text-align: center;
        position: relative;
        top: -10px;
    }
    .search-box{
        margin-top: 25px !important;
    }

    .nav-responsive{
       visibility: hidden;
       list-style-type: none;
    }

    .main-content{
        display: block !important;
        padding-top: 10px;
        font-size: 25px;
        /* border:1px solid black; */
        /* width:100%; */
        margin: 0px auto;
    }

    p{
        display: block!important;
    }

    .sub-content{
        display: block !important;
        padding-top: 10px;
        font-size: 15px;
        width:90%;
        /* border: 1px solid black; */
        margin: 0px auto;
    }

    .food-cards{
        margin-top: -30px !important;

    }

    .food-cards h3{
        display: none;
    }
/* 
    ul li:hover a{
        background-color: rgb(239, 69, 69);
         text-decoration: none;
         color:white;
     }
     
     ul li.active a{
          background-color: rgb(239, 69, 69);
          text-decoration: none;
          color:white;
     } */
    
}
